*{
    background-color: #F8F5F1;
    margin: 0;
    padding: 0;
    
}
.headerz{
    display: flex;
    justify-content: space-around;
    border: blanchedalmond 1px solid;
    height: 40px; 
    margin: auto;
}
.logoz{
    width: 70%;   
}
.logout{
    list-style: none;
    text-decoration: none;
    color: black;
}
 .summaryz {
    padding: 4px;
    width: 200px;
    background-color: #eeeeee;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
  }
  
  .logout {
    background-color: #eeeeee;
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
  }
  .detailsz{
      display: flex;

width: 20%;
justify-content: space-between;
  }
  .header_main{
      margin-top: 20px;
      display: flex;
      justify-content: space-around;
      border: springgreen solid;
  }
  .title_brif{
     width: 60%;
     
  }