*{
    background-color: #F8F5F1;
}
h2{
    color: #387C6D;
    font-family: Monotype Corsiva;
}
header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4vh;

}
.navBar{

    display: flex;
    width: 20vw;
    justify-content: space-between;
    align-items: center;
    margin-right: 3vw;
}
.username{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    color:#F8F5F1;
    background-color: #343F56;
    height: 4vh;
    width: 6vw;
}
.fa{
    font-size: 30px;
    width: 20px;

}
.logout{
    text-decoration: none;
    color: black;
}
summary{

   outline: none;
}
.aboutUs{

    text-decoration: none;
    color: black;
    font-size:large;
    
}